.debug [class*="col-"] {
  background-color: rgba(17, 177, 226, 0.6);
  border: 1px solid black;
  min-height: 50px;
}

.widht-100 {
  width: 100%;
}

.bg-color-gray {
  background-color: #F3F5F9;
}

/* HEADER */
header {
  position: fixed;
  z-index: 99;
  background-color: white;
}

header .logo {
  height: 65px;
  line-height: 65px;
  vertical-align: middle;
}

header .logo img {
  height: 45px;
}



/* TOP */
#mm-jumbotron {
  background-color: blue;
  color: white;
  height: 812px;
  padding-top: 65px;
}

#websites {
  height: 300px;
}