.debug [class*="col-"] {
  background-color: rgba(17, 177, 226, 0.3);
  border: 1px solid black;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.width-100 {
  width: 100%;
}

.bg-color-gray {
  background-color: #f3f5f9;
}

.bg-gradient-blue {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 30, 153, 1) 0%,
    rgba(0, 72, 197, 1) 100%
  );
  color: white;
}

.mm-link {
  color: #006aff;
}

.mm-light-link {
  color: #00d5d1;
}

.mm-blue {
  color: #031c4e;
}

.weight-700 {
  font-weight: 700;
}

/* ARROWS */
[class*="mm-arrow-"] {
  font-size: 50px;
  vertical-align: middle;
}

.mm-arrow-active {
  color: #031c4e;
}

.mm-arrow-inactive {
  color: #6f7b97;
}

/* DOTS */
.mm-dots li {
  padding: 0;
  color: #006aff;
}

/* HEADER */
.header-piece {
  height: 65px;
  line-height: 65px;
  vertical-align: middle;
}

header {
  position: fixed;
  z-index: 99;
  background-color: white;
  box-shadow: 1px 0 2px gray;
}

header img {
  height: 36px;
}

.mm-white-button {
  color: #006aff;
  background-color: white;
  border: 1px solid #006aff;
}

.mm-hamburger {
  color: #3a8aff;
  font-size: 24px;
  vertical-align: middle;
}

/* TOP */
#mm-jumbotron {
  background-image: url(../img/bg-banner-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 125px;
  padding-bottom: 60px;
}

#mm-jumbotron h1 {
  line-height: 110%;
  font-size: 48px;
  max-width: 500px;
}

#mm-jumbotron p.mm-subtitle {
  display: block;
  color: #bbcdff;
  line-height: 130%;
  font-size: 18px;
  margin-top: 20px;
  max-width: 600px;
}

/* BOX */
.mm-box {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}

.mm-box h2 {
  font-size: 36px;
}

.mm-box h2 span {
  color: #006aff;
  display: block;
}

.mm-box input {
  width: 100%;
  margin: 5px 0;
}

.mm-box-input {
  height: 44px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.mm-box-button {
  width: 100%;
  height: 32px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.mm-box-button#create {
  background-color: #579aff;
  color: white;
}

.mm-box-button#google {
  position: relative;
  background-color: white;
  color: #717171;
  box-shadow: 1px 1px 3px gray;
  margin-bottom: 15px;
}

.mm-box-button#google img {
  height: 20px;
  position: absolute;
  left: 10px;
}

.mm-box p a {
  text-decoration: underline;
}

/* WEBSITES */
#websites > .container {
  padding: 30px 0;
}

.mm-website-title {
  color: #6f7b97;
}

.mm-agency {
  height: 130px;
  line-height: 130px;
  vertical-align: middle;
}

.mm-agency img {
  width: 100%;
  max-height: 130px;
}

/* DEPLOY */
#deploy {
  margin: 80px 0;
}

#deploy div.col-12 > h2 {
  font-size: 36px;
}

#deploy div.col-12 > p {
  font-size: 18px;
  color: #5c6a88;
}

#deploy ul {
  border-left: 1px solid #75809a;
  padding-left: 12px;
  font-size: 20px;
  margin-top: 50px;
}

#deploy ul li {
  padding: 10px 0;
  color: #75809a;
}

.mm-deploy-box {
  min-height: 165px;
}

.mm-deploy-box p {
  color: #75809a;
  max-width: 270px;
}

/* DEVELOPERS */
#developers {
  padding: 50px 0;
}

#developers div.col-12 > p {
  font-size: 18px;
  color: #5c6a88;
}

#developers img {
  width: 50%;
  margin: 40px 20px 20px;
}

/* FEATURES */
#features {
  margin: 50px 0;
}

#features h2 {
  margin-bottom: 30px;
}

#features div.col-xs-12 {
  margin-bottom: 20px;
}

/* BOTTOM */
/* CUSTOMERS */
#customers {
  padding: 50px;
}

#customers h2,
h5 {
  display: inline;
}

#customers p {
  color: #b6c3e5;
}

@media screen and (min-width: 1200px) {
  #customers .col-xs-12 {
    width: 46%;
    margin: 30px 2%;
  }
}

.mm-row {
  border-bottom: 1px solid white;
  padding-top: 10px;
}

.mm-row:last-child {
  border: none;
}

/* ROCKERBOX */
.mm-slide {
  width: 50%;
  margin: 20px auto;
  background-color: white;
  padding-bottom: 30px;
}

.mm-slide .mm-blue {
  font-weight: 700;
}

.mm-slide a {
  margin: 30px 0;
}

/* START */
#start {
  padding: 50px;
}

#start a{
  border: none;
}